#weather{
    height: 500px;
    width: 400px;
    padding-top: 30px;
    border: 2px solid green;
    border-radius: 20px;
    background-color: rgb(98, 133, 163);
    justify-content: center;
    margin-left: 35%;
}
#search{
    height: 50px;
    width: 500px;
    display: flex;
    border-radius: 30px;
}
#search>input{
    height: 40px;
    width: 300px;
    text-align: center;
    border-radius: 40px;
    display: flex;
    margin-left: 30px;
}
#search>img{
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
}
#main{
    height: 200px;
    text-align: center;
}
#main>img{
    height: 150px;
    width: 150px;
    text-align: center;
}
#temp{

    text-align: center;
    padding-left: 20px;
    font-size: 40px;
}
#row{
    height:50px ;
    display: flex;
}
.col{
    height: 100px;
    width: 400px;
    display: flex;
}
.col>img{
    height: 50px;
    margin-top: 50px;
    display: flex;
}
 .col>#humidity>p{ 
    height: 50px;
    margin-bottom:40px ;
    margin-left:20px ;
} 
div{
    padding-bottom: 50px;
}
#humidity,#wind{
    height: 5px;
    font-size: 30px;
    margin-bottom: 30px;
}
